* {
    box-sizing: border-box;
  }
  
  body {
    color: #FFF;
    font-family: Helvetica;
    margin: 0;
    background-color: cornflowerblue !important;
    /* background-image: linear-gradient(blue, cornflowerblue) !important; */
  }


/*header*/
#title {
    justify-content: center;
}

.navbar.navbar-light.bg-light {
    justify-content: center !important;
    margin-bottom: 5px;
    /* background-image: linear-gradient(blue, cornflowerblue); */
    border: none;
    background-color: transparent !important;
}

@media only screen and (max-width: 600px) {
  .navbar.navbar-light.bg-light,
  h1,
  h2,
  #title {
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    background-color: transparent;
  }
}

h1,
h2 {
    color: white;
}

/*containers*/
.wrapper {
    width: 100%;
    margin: 0 auto;
  }
  
  #search, 
  #location {
    float: left;
    margin-bottom: 15px;
    margin-left: 100px;
    /* padding: 20px; */
    color: white;
    justify-content: center;
   
  }

  #search {
      margin-right: 65px;
      padding: 20px;
  }

  @media only screen and (max-width: 600px) {
    #search,
    #location {
      margin-left: 8%;
      margin-right: 0;
    }
  }

  .city {
    margin-bottom: 25px;
  }
  
  @media only screen and (max-width: 600px) {
   .city-name {
      margin-left: -8%;
      margin-right: 0;
    }
  }
.row {
    margin: 10px;
}
  
.day {
  margin: 15px;
}

/*buttons*/
.btn {
    background-color: black !important;
    color: white !important;
    margin-left: 5px !important;
    font-size: 5px !important;
}