* {
    box-sizing: border-box;
}

.navbar.navbar-dark.bg-dark {
    background-image: url("C:/Users/mayac/Desktop/weather.jpg") !important;
    justify-content: center !important;
    margin-bottom: 20px !important;
    color: white !important;
}

#search-container {
    border: 2px solid black;
    float: left;
    width: 470px;
    padding: 10px;
    margin-left: 10px;
}

.btn {
    background-color: hotpink !important;
}

#weather-container {
    border: 3px solid white;
    width: 1000px;
    padding: 10px;
    float: right;
}

#weather {
    border: 2px solid aquamarine;
    padding: 10px;
}

#five-day {
    padding: 10px;
}

.col {
    border: 2px solid white; 
}