* {
    box-sizing: border-box;
  }
  
  body {
    color: #FFF;
    font-family: Helvetica;
    margin: 0;
    background-color: cornflowerblue !important;
  }


/*header*/
#title {
    justify-content: center;
}

.navbar.navbar-light.bg-light {
    justify-content: center !important;
    margin-bottom: 5px;
    background-image: linear-gradient(blue, cornflowerblue);
}

h1,
h2 {
    color: white;
}

#date {
    justify-content: center;
    color: white;
}

/*containers*/
.wrapper {
    width: 100%;
    margin: 0 auto;
  }
  
  #search, #location {
    float: left;
    margin-bottom: 10px;
    padding: 20px;
    color: white;
    /* border: 2px solid black; */
  }
  
  #search {
    width: 400px;
    margin-right: 65px;
    /* background-color: darkblue; */
  }
  
.column {
    margin: 5px;
}
  
/*button*/
.btn {
    background-color: black !important;
    color: white !important;
    margin-left: 5px !important;
    font-size: 5px !important;
}
